* {
    margin: 0px;
    padding: 0px;
}

:root {
    --title-size: 5vw; /* add clamp() */
    --header-nav-size: 3vw; /* add clamp() */
}

body {
    height: 200vh;
    background-color: white;
    display: grid;
    grid-template: 150px 1fr 5fr 75px / 3fr 0.5fr;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav,
.footer-container {
    display: flex;
    gap: 24px;
}

.nav-container {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #053fbc;
    color: white;
    display: grid;
    grid-column: 1 / 3;
    align-items: center;
    padding: 32px
}

.name {
    font-size: var(--title-size);
}

.header-nav {
    font-size: var(--header-nav-size);
}

.sidebar-nav {
    background-color: #642cde;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
}

.nav-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-top: 52px;
}

.project-container {
    display: grid;
    grid-template-areas: repeat(1fr, 2) / repeat(1fr, 2);
}

.project-container > * {
    /* revisit card css-excercise under grid */
}

footer {
    background-color: #393f4d;
    color: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
}