* {
    margin: 0px;
    padding: 0px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.header-nav,
.footer-container {
    display: flex;
    gap: 24px;
}

.nav-container {
    display: flex;
    flex-direction: column;
}