* {
    margin: 0px;
    padding: 0px;
    color: #e1dfdf;
}

:root {
    --title-size: 6vw; /* add clamp() */
    --header-nav-size: 3vw; /* add clamp() */
    --nav-size: 40px;
    --para-size: 2vw;
    --subheader-size: 3vw;
    --text-size: 16px;
    --header-size: 5vw;
    --dark-blue: #0c2a5f;
    --blue: #1f346e;
}

body {
    height: 200vh;
    background-color: white;
    display: grid;
    grid-template: 150px 1fr 5fr 50px / 3fr 0.5fr;
}

#about-section,
#portfolio-section {
    font-size: var(--para-size);
    background-color: var(--dark-blue);
    border-radius: 8px;
    padding: 52px;
}

#about-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav,
.footer-container {
    display: flex;
    gap: 16px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    font-size: var(--nav-size);
}

header {
    background-color: var(--blue);
    border-bottom: solid 2px #bdbaba;
    color: white;
    display: grid;
    grid-column: 1 / 3;
    align-items: center;
    padding: 32px
}

.name {
    font-size: var(--title-size);
}

.header-nav {
    font-size: var(--header-nav-size);
}

main {
    background-color: var(--blue);
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    padding: 52px;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

.nav-container {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-top: 100px;
}

.project-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 52px;
    padding: 12px;
}

footer {
    background-color: var(--dark-blue);
    color: #ffffff;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 3;
}

.text {
    font-size: var(--para-size);
}

.project-name {
    font-size: var(--subheader-size);
    font-weight: bold;
}

h1 {
    font-size: var(--header-size);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    height: auto;
    width: 40vw; /* clamp() */
    border-radius: 8px;
}